---
pagination:
  data: collections.blog
  size: 2
  alias: blogs
  reverse: true
---
<!DOCTYPE html>
<html>

{% include 'header.njk' %}

<body class="bg-yellow-50 text-gray-800">

  <section class="mx-auto">
    <section class="bg-gradient-to-r from-cyan-500 to-blue-500">
      <div class="mx-auto flex flex-row items-end w-11/12 lg:w-8/12 xl:w-7/12">
        <img 
          src="/assets/img/self.jpg"
          class="mr-8 profile-pic relative top-8 border-solid border-4 border-yellow-50 h-full w-32 xl:w-32"/>
        <div class="text-white mb-4">
          <h1 class="text-2xl font-bold mb-1 lg:text-4xl">Jordan Vidrine</h1>
          <span class="text-xl font-light lg:text-lg">Designer + Front End Developer</span>
        </div>
      </div>
    </section>

    <section class="mx-auto flex flex-row mb-20 items-start mt-20 w-11/12 lg:w-8/12 xl:w-7/12">
      <div class="text-left text-xl mr-12 lg:text-lg lg:text-left lg:w-1/8">
        <p class="mb-8 lg:mb-4">Hey there 👋 , I’m a self-taught developer from the Cajun Prairies in rural Louisiana with a background in Industrial Design. I made the leap into the coding world in 2019 and havent looked back since!</p>
        <p class="mb-8 lg:mb-4">When not at my computer, I am usually going on work-cations with my wife and 🐶 in our camper 🚐, reading sci-fi<super>*</super>, gaming<super>**</super>, or creating <a class="text-blue-500 hover:text-blue-700" href="https://www.skiesspeak.com/"> ambient, electronic, and <i>sometimes</i> house music.</a></p>
        <p class="text-sm mb-8 lg:mb-4"><super>*</super><i>Currently reading the Dune Series and I am in </i>❤️</p>
        <p class="text-sm mb-8 lg:mb-4"><super>**</super><i>I've recenlty been enjoying the board game Root, and also Dead Cells on the Switch.</i></p>
        <a class="text-gray-500 font-semibold hover:text-gray-900" href="https://github.com/jordanvidrine">Github</a> |
        <a class="text-gray-500 font-semibold hover:text-gray-900" href="https://www.linkedin.com/in/jordan-b-vidrine/">LinkedIn</a>
      </div>
      <div class="grow">
        <div class="flex flex-row text-left items-center text-sm py-2 px-4 bg-gray-900 bg-opacity-10 border-r-4 border-gray-900 border-solid border-opacity-10 lg:text-md lg:text-left">
          <img class="w-14 h-14 mr-4" src="/assets/img/discourse.png"/>
          <div class="">
            <span class="text-sm font-semibold">Employment Status:</span>
            <p class="mt-2 mb-1">Currently employed at Discourse as a Designer & Front End Developer.</p>
            <span class="text-xs text-gray-600">Feb 2020 - Present</span>
          </div>
        </div>
        <div class="flex flex-col text-left text-sm py-2 px-4 mt-4 bg-gray-900 bg-opacity-10 border-r-4 border-gray-900 border-solid border-opacity-10 lg:text-md lg:text-left">
          <span class="text-sm font-semibold mb-2">Skills:</span>
          <div class="flex flex-row flex-wrap">
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">Self Starter</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">Time Management</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">Communication</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">Design Thinking</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">Javascript</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">EmberJS</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">ReactJS</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">SCSS</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">NodeJS</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">Express</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">RESTful APIs</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">Git</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">VSCode</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">SCSS</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">Photoshop</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">Sketch</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">Illustrator</span>
            <span class="text-sm mr-2 mb-2 inline-block text-gray-800 bg-gray-900 bg-opacity-10 rounded px-2">Figma</span>
          </div>
        </div>
      </div>
    </section>
  </section>

  {% include 'projects.njk' %}

  {% include 'footer.njk' %}

  {# ---- Latest Coding Journal Entries ---- #}
  {# {% include 'recent-entries.njk' %}  #}
  {# <---- blogs is being passed in here #}

</body>

</html>