---
pagination:
  data: collections.blog
  size: 2
  alias: blogs
  reverse: true
skills: ['Self Starter / Time Management', 'Communication', 'Design Thinking', 'JavaScript', 'EmberJS', 'ReactJS', 'SCSS', 'NodeJS', 'Git', 'VSCode', 'Photoshop', 'Illustrator', 'Skecth', 'Figma']
---

<!DOCTYPE html>
<html>

{% include 'header.njk' %}

<body class="bg-yellow-50 text-gray-800">

  <section class="mx-auto">
    <section class="custom-hero">
      <div class="mx-auto flex flex-row items-end h-full w-11/12 lg:w-10/12 xl:w-7/12">
        <img 
          src="/assets/img/self.jpg"
          class="mr-8 profile-pic relative top-8 border-solid border-4 border-yellow-50 w-24 h-24 md:w-32 md:h-32 lg:w-32 lg:h-32 xl:w-32 xl:h-32"/>
        <div class="text-white mb-2 sm:mb-4 md:mb-4 lg:mb-4 xl:mb-4">
          <h1 class="text-2xl font-bold mb-1 lg:text-4xl">Jordan Vidrine</h1>
          <span class="text-md font-light lg:text-lg">Designer + Front End Developer</span>
        </div>
      </div>
    </section>

    <section class="mx-auto flex flex-col mb-12 items-start mt-12 w-11/12 md:flex-row lg:mt-20 lg:flex-row lg:w-10/12 xl:w-8/12 xl:mb-20">
      <div class="text-lg text-left md:mr-12 lg:mr-12 lg:text-xl lg:w-1/8">
        <p class="mb-4 lg:mb-4">Hey there 👋 , I’m a <span class="highlight relative">self-taught developer</span> from the Cajun Prairies in rural Louisiana with a background in Industrial Design. I made the leap into the coding world in 2019 and havent looked back since!</p>
        <p class="mb-4 lg:mb-6">When not at my computer, I am usually going on trips with my wife (<i>sometimes our</i> 🐶 <i>comes along in our camper</i> 🚐), reading sci-fi<super>*</super>, gaming<super>**</super>, or creating <a class="my-link" href="https://www.skiesspeak.com/"> ambient, electronic, and <i>sometimes</i> house music.</a></p>
        <p class="text-sm mb-2 lg:mb-2"><super>*</super><i>Currently reading the Dune Series and I am in </i>❤️</p>
        <p class="text-sm mb-12 md:mb-2 lg:mb-2"><super>**</super><i>I've recenlty been enjoying the board game Root, and also Dead Cells on the Switch.</i></p>
      </div>
      <div class="grow">
        <div class="flex flex-row text-left items-base text-md py-2 px-4 bg-gray-900 bg-opacity-10 border-r-4 border-gray-900 border-solid border-opacity-10 lg:text-md lg:text-left">
          {# <img class="w-14 h-14 mr-4 mt-4" src="/assets/img/discourse.png"/> #}
          <div>
            <span class="text-sm font-semibold">Employment Status:</span>
            <p class="mt-2 mb-1">Happily employed at <a class="my-link" href="https://www.discourse.org/">Discourse</a> <img class="w-4 h-4 inline relative bottom-1" src="/assets/img/discourse.png"/> as a <span class="font-semibold">Designer & Front End Developer.</span></p>
            <p class="mt-2 mb-1">
              I am a <span class="highlight relative"><i>generalist</i></span>, my work ranges from improving the UX & UI of Discourse, updating our website, implementing designs on the front-end, & working with Enterprise customers to implement themes & Ember Components for their Discourse communities.
            </p>
            <span class="text-xs text-gray-600">Feb 2020 - Present</span>
          </div>
        </div>
        <div class="flex flex-col text-left text-sm py-2 px-4 mt-4 bg-gray-900 bg-opacity-10 border-r-4 border-gray-900 border-solid border-opacity-10 lg:text-md lg:text-left">
          <span class="text-sm font-semibold mb-2">Skills:</span>
          <div class="flex flex-row flex-wrap">
            {% listFunction skills %}
          </div>
          <div class="mt-4">
            <a class="font-semibold my-link" href="https://github.com/jordanvidrine">Github</a> |
            <a class="font-semibold my-link" href="https://www.linkedin.com/in/jordan-b-vidrine/">LinkedIn</a>
          </div>
        </div>
      </div>
    </section>
  </section>

  {% include 'projects.njk' %}

  {# ---- Latest Coding Journal Entries ---- #}
  {# {% include 'recent-entries.njk' %}  #}
  {# <---- blogs is being passed in here #}

  {% include 'footer.njk' %}

</body>

</html>