---
pagination:
  data: collections.blog
  size: 2
  alias: blogs
  reverse: true
---
<!DOCTYPE html>
<html>

<head>
  <title>Jordan Vidrine - Front End Developer & Designer </title>
  <link rel="stylesheet" href="css/style.css?v={% version %}"/>
</head>

<body class="bg-yellow-50 text-gray-800">

  <section class="mx-auto">
    <section class="bg-gradient-to-r from-cyan-500 to-blue-500">
      <div class="mx-auto flex flex-row items-end lg:w-8/12 xl:w-7/12">
        <img 
          src="/assets/img/self.jpg"
          class="mr-8 profile-pic relative top-8 border-solid border-4 border-yellow-50 h-full w-32 xl:w-32"/>
        <div class="text-white mb-4">
          <h1 class="text-2xl font-bold mb-1 lg:text-4xl">Jordan Vidrine</h1>
          <span class="text-xl font-light lg:text-lg">Front End Designer + Developer</span>
        </div>
      </div>
    </section>

    <section class="mx-auto flex flex-row mb-24 items-start mt-16 lg:w-8/12 xl:w-7/12">
      <div class="text-left text-xl mr-8 lg:text-lg lg:text-left sm:px-8 lg:w-8/12">
        <p class="mb-8 lg:mb-4">Hey there 👋 , I’m a self-taught designer & front-end developer from the Cajun Prairies in rural Louisiana. I work at Discourse as a Designer & Front End Developer.</p>
        <p class="mb-8 lg:mb-4">When not at my computer, I am usually creating <a hfef="https://www.skiesspeak.com/">ambient, electronic, and house music,</a> reading, gaming, or going on work-cations with my wife in our camper 🚐. <span class="text-gray-400 text-sm">(remote work 4 life 😸)</span></p>
        <a class="text-gray-500 font-semibold hover:text-gray-900" href="https://github.com/jordanvidrine">Github</a> |
        <a class="text-gray-500 font-semibold hover:text-gray-900" href="https://www.linkedin.com/in/jordan-b-vidrine/">LinkedIn</a>
      </div>
    </section>
  </section>

  {% include 'projects.njk' %}

  {# ---- Latest Coding Journal Entries ---- #}
  {% include 'recent-entries.njk' %} {# <---- blogs is being passed in here #}

</body>

</html>