<footer class="bg-gradient-to-r from-cyan-600 to-blue-700 p-4">
  <div class="mx-auto text-center w-11/12 lg:w-8/12 xl:w-7/1">
    <p class="text-white font-semibold">Built with ❤️ by me using 11ty -<a class="underline decoration-wavy underline-offset-4 px-2 pt-3 pb-4 rounded hover:bg-gray-900 hover:bg-opacity-20" href="https://github.com/jordanvidrine/jordanvidrine-com">Source</a> - <a class="underline decoration-wavy underline-offset-4 px-2 pt-3 pb-4 rounded hover:bg-gray-900 hover:bg-opacity-20" href="https://github.com/jordanvidrine">Github</a> - <a class="underline decoration-wavy underline-offset-4 px-2 pt-3 pb-4 rounded hover:bg-gray-900 hover:bg-opacity-20" href="https://www.linkedin.com/in/jordan-b-vidrine/">LinkedIn</a></p>
  </div>
</footer>