<head>
  <title>Jordan Vidrine - Designer & Front End Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Jordan Vidrine - Designer & Front End Developer" />
  <meta property="og:image" content="/assets/img/messages-preview.png" />
  <link rel="stylesheet" href="{{ "/css/style.css" | url }}"/>
  <link rel="stylesheet" href="{{ "/css/syntax.css" | url }}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147390936-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-147390936-1');
  </script>
  <script>
  (function (m, a, z, e) {
    var s, t;
    try {
      t = m.sessionStorage.getItem('maze-us');
    } catch (err) {}
  
    if (!t) {
      t = new Date().getTime();
      try {
        m.sessionStorage.setItem('maze-us', t);
      } catch (err) {}
    }
  
    s = a.createElement('script');
    s.src = z + '?apiKey=' + e;
    s.async = true;
    a.getElementsByTagName('head')[0].appendChild(s);
    m.mazeUniversalSnippetApiKey = e;
  })(window, document, 'https://snippet.maze.co/maze-universal-loader.js', '5a92e9df-15b9-4b16-ad83-f08c1c8a27ea');
  </script>
</head>
