<!DOCTYPE html> 
<html lang="en"> 
  {% include 'header.njk' %}
  <body class="bg-yellow-50 text-gray-800 p-8"> 
    <header>
      <h1 class="text-center font-bold text-6xl text-gray-800 sm:text-5xl">{{ title }}</h1>
    </header>
    <section class="content text-xl my-12">{{ content | safe }}</section>
  </body> 
</html>