<section class="project discourse-project mx-auto flex flex-col items-center mb-8 w-11/12 sm:w-11/12 lg:w-10/12 xl:w-8/12">
  <div id="underline-discourse" class="relative">
    <h1 class="text-3xl font-bold text-gray-800 text-center relative mb-16 lg:text-5xl">Discourse Projects<span class="p-4">🎨</span></h1>
  </div>
  {% for project in collections.discourse_project %}
    {% include 'discourse_project.njk' %}
  {% endfor %}
</section>

<section class="project mx-auto flex flex-col items-center mb-8 w-11/12 sm:w-11/12 lg:w-10/12 xl:w-6/12">
  <div id="underline-blue" class="relative">
    <h1 class="text-4xl font-bold text-gray-800 text-center relative mb-16">Other Projects<span class="p-4">🛠</span></h1>
  </div>
  {% for project in collections.other_project %}
    {% include 'project.njk' %}
  {% endfor %}
</section>