---
title: Discourse Air Theme
code: 'https://github.com/discourse/discourse-air'
live: 'https://discourse.jordanvidrine.com/'
tags: 'discourse_project'
preview: '/assets/img/discourse-air-preview.png'
date: 2022-01-02
created_at: 2021-07-01
tools: ['emberJS', 'scss', 'javascript', 'figma']
---
<p class="text-base text-gray-700 mb-4 lg:text-base lg:text-left lg:text-lg">
In order to meet an assigned KPI for 2021, I designed a theme & set of components created by me in order to give our users something more stylized & set apart.
</p>

<p class="text-base text-gray-700 mb-4 lg:text-base lg:text-left lg:text-lg">Since it's release on our <a class="my-link" href="https://meta.discourse.org/t/discourse-air-theme/197703">Community Support Forum</a>, it has recieved over 600 likes, and has been <span class="highlight relative">recieved with overwhelming positivity!</span></p>

<p class="text-base text-gray-700 mb-2 lg:text-base lg:text-left lg:text-lg">Also includes other custom components I developed:</p>

<ul class="list-disc list-inside mb-4">
  <li class="text-md text-gray-700">
    <a class="my-link" href="https://meta.discourse.org/t/dark-light-mode-toggle-component/215585">Custom Dark/Light toggle component</a>
  </li>
  <li class="text-md text-gray-700">
  Custom Categories Page
  </li>
</ul>
