---
title: Discourse Chat
tags: 'discourse_project'
preview: '/assets/img/discourse-chat-preview.png'
date: 2022-01-01
created_at: 2021-12-01
chatTools: ['sketching','figma','scss', 'emberJS']
---
<p class="text-md text-gray-700 mb-4 lg:text-base lg:text-left lg:text-lg">
As Discourse began to implement Chat into their forums in a Pre-Alpha phase, I have been able to lead a lot of the design behind this new feature.
</p>

<p class="text-md text-gray-700 mb-4 lg:text-base lg:text-left lg:text-lg">
The focus has been to seamlessly integrate chat into the long form discussion experience, without taking away the depth & enjoyment that comes along witht the power of the paragraph.
</p>

<span class="font-semibold text-sm mt-4 mb-2">Tools:</span>
<div class="flex flex-row flex-wrap mb-4">
    {% listFunction chatTools %}
</div>

<span class="text-center text-xl my-8 lg:text-base lg:text-left lg:mt-auto lg:my-0 md:mt-auto md:my-0">
  <a class="my-link font-semibold" href="https://github.com/discourse/discourse-chat/pulls?q=is%3Apr+is%3Aclosed+author%3Ajordanvidrine">My Contributions</a> |
  <a class="my-link font-semibold" href="https://meta.discourse.org/t/introducing-discourse-chat-pre-alpha/210734">Learn More</a>
</span>