---
title: Discourse for Teams Product Site
tags: 'discourse_project'
live: 'https://teams.discourse.com/'
preview: '/assets/img/discourse-for-teams.png'
date: 2022-01-03
created_at: 2020-08-01
tools: ['figma', 'jekyll', 'scss', 'javascript']
---
<p>I was tasked with leading the creation the product site for our newly launched Discourse for Teams offering in 2020. The goal was to create a simple, but standout site that captured the fun feel of using Discourse for Teams.</p>